[submodule "example-react-native-typescript"]
	path = example-react-native-typescript
	url = https://github.com/saleor/example-react-native-typescript
[submodule "example-react-cra-typescript"]
	path = example-react-cra-typescript
	url = https://github.com/saleor/example-react-cra-typescript
[submodule "example-react-nextjs-apollo-typescript"]
	path = example-react-nextjs-apollo-typescript
	url = https://github.com/saleor/example-react-nextjs-apollo-typescript
[submodule "example-flutter"]
	path = example-flutter
	url = https://github.com/saleor/example-flutter
